/* Sass for videojs-settings-menu*/

$duration: 0.2s;
$easing: ease-out;

.video-js {

	.vjs-settings-sub-menu-title {
		width: 8em;
		text-transform: initial;
	}

  .vjs-settings-dialog {
    position: absolute;
    right: 1em;
    bottom: 3.5em;
    background-color: #2B333F;
    background-color: rgba(43, 51, 63, 0.75);
    color: #fff;
    margin: 0 auto;
    padding: 0.5em;
    font-size: 12px;
    width: auto;
    overflow: hidden;

    -webkit-transition: width $duration $easing,  height $duration $easing;
    transition: width $duration $easing,  height $duration $easing;

    .vjs-settings-sub-menu-value,
  	.vjs-settings-sub-menu-title {
  		display: table-cell;
  		padding: 0 5px;
  	}

    .vjs-settings-sub-menu-title {
      text-align: left;
    }

    .vjs-settings-sub-menu-value {
      width: 100%;
      text-align: right;
    }

    .vjs-settings-panel {
      position: absolute;
      bottom: 0;
      right: 0;
      overflow-y: auto;
      overflow-x: hidden;

      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
      -ms-flex-align: end;

      align-items: flex-end;
      white-space: nowrap;

      &:focus,
      &:active {
        outline: none;
      }

      > .vjs-menu {
        min-width: 250px;
      }

      > .vjs-menu,
      > .vjs-settings-sub-menu {
        -webkit-transition: all $duration $easing;
        transition: all $duration $easing;
        float: right;

        .vjs-menu-item {
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    }
  }
}
